{% extends 'base.html' %}
{% block content %}
<h1>Авторизация</h1>
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for f in form %}
        <p><label for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit">Войти</button>
    <button type="button" onclick="window.location.href='{% url 'users:password_reset' %}'">
        Восстановить пароль
    </button>
</form>
{% endblock %}

