{% extends 'base.html' %}
{% block content %}
<h1>Введите новый пароль</h1>
<form method="post">
    {% csrf_token %}

    <div>
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
        {% for error in form.new_password1.errors %}
            <div style="color: red">{{ error }}</div>
        {% endfor %}
    </div>

    <div>
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
        {% for error in form.new_password2.errors %}
            <div style="color: red">{{ error }}</div>
        {% endfor %}
    </div>

    {% for error in form.non_field_errors %}
        <div style="color: red">{{ error }}</div>
    {% endfor %}

    <button type="submit">Сменить пароль</button>
</form>

{% endblock %}
