{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h1>Добро пожаловать в наш университет!</h1>
    <p>Мы рады приветствовать вас на нашем сайте.</p>

    <h2>Последние новости</h2>
    <ul>
    {% for post in posts %}
        <li>
            <strong>{{ post.title }}</strong> – {{ post.content|upper }}
        </li>
        <p class="link-read-post"><a href="{{ post.get_absolute_url }}">Читать пост</a></p>
    {% empty %}
        <p>Новостей пока нет.</p>
    {% endfor %}
</ul>
{% endblock %}
