{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h1>Добро пожаловать в наш университет!</h1>
    <p>Мы рады приветствовать вас на нашем сайте.</p>

    <p>
        <a href="{% url 'addpage' %}" class="btn btn-primary">Добавить статью</a>
    </p>
    <h2>Последние новости</h2>
    <ul>
    {% for post in posts %}
        <li>
            <strong>{{ post.title }}</strong> – {{ post.content|upper }}
        </li>

        <!-- Вывод тегов -->
        <p>
            <strong>Теги:</strong>
            {% for tag in post.tags.all %}
                <span class="tag">#{{ tag.name }}</span>
            {% empty %}
                <span>Нет тегов</span>
            {% endfor %}
        </p>

        <p class="link-read-post"><a href="{{ post.get_absolute_url }}">Читать пост</a></p>
    {% empty %}
        <p>Новостей пока нет.</p>
    {% endfor %}
    </ul>


    <nav class="pagination">
        {% if page_obj.has_other_pages %}
            <ul>
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo; Назад</a></li>
                {% endif %}

                {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="current-page">{{ p }}</li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                        <li><a href="?page={{ p }}">{{ p }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">Вперед &raquo;</a></li>
                {% endif %}
            </ul>
        {% endif %}
    </nav>

{% endblock %}
